/* Styles for the container of the password reset page */

  

.password-reset-container {
    background-image: url('../styles/signup.png'); /* Path to your image */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ensure the background covers the entire viewport height */
    background-size: 100%;
  }
  

.col-md-6{
    margin-top: 100px;
}

  
  
  /* Additional styles can be added here */
  